#container {
    position: relative;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
}

div#instructions-container {
    position: absolute;
    top: 1rem;
    left: 5%;
    opacity: 0.7;
    height: 300px;
    overflow: hidden;
    scroll-behavior: auto;
    overflow: scroll;
    background-color: rgb(198, 234, 234);
}

.leaflet-compass {
    font-size: 50px;
    color: #4f1e1e;
    cursor: pointer;
    margin: 10px;
}